.title-header {
  font-size: 36px;
  font-weight: bold;
}

.grey_color {
  color: grey;
}

.bold {
  font-weight: bold;
}

/* https://docs.gtk.org/gtk3/class.LevelBar.html */
levelbar block.low {
  background-color: #ff0000;
}

levelbar block.warning {
  background-color: #ff9800;
}

.style-toggle {
  padding: 0px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 6px;
  border: 2px none red;
  outline: rgba(0,0,0,0) solid 2px;
}

.style-toggle:checked{
  outline-color: var(--accent-color);
  transition: all 1s;
}
