.title-header {
  font-size: 36px;
  font-weight: bold;
}

.grey_color {
  color: grey;
}

.bold {
  font-weight: bold;
}

.battery-bar.level-low trough block {
  background-color: #f44336;
}

.battery-bar.level-high trough block {
  background-color: #ff9800;
}

.battery-bar.level-full trough block {
  background-color: #4caf50;
}

.style-toggle {
  padding: 0px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 6px;
  border: 2px none red;
  outline: rgba(0, 0, 0, 0) solid 2px;
}

.style-toggle:checked {
  outline-color: var(--accent-color);
  transition: all 1s;
}

.accent-color-button {
  width: 2px;
  border-radius: 50%;
  padding: 0px;
  margin: 0px;
}

.accent-color-button .color {
  padding: 0px;
}
